<div id="sideBarWrapper">
  <div class="addFeature">

    <button class="addBtn" style="height:40px;" (click)="addFeature()">+</button>

    <div style="float:right; height:40px;">
      <input style="width: 100px; min-height:34px;" placeholder="Feature" [(ngModel)]="featureTitle"/>
    </div>
  </div>

  <div class="addFeature">
    <div style="float:left;" >
      <button class="addBtn" style="height:40px;" (click)="addFeature()">+</button>
    </div>
    <div style="float:left; height:40px;">
      <input style="width: 100px; min-height:34px;" placeholder="Sprint" [(ngModel)]="featureTitle"/>
    </div>
  </div>
</div>



<div class="sprintTableWrapper" #tableWrapper>
  <table class="sprintTable">
      <tbody>
        <div *ngFor="let feature of features; let f = index" [attr.data-index]="f">
          <tr>
            <td>
              <h1>Feature</h1>


              <div class="feature">
                <h1>{{feature.title}}</h1>

                <div style="inline-block; float:left;">
                  <div>
                    <label for="project">Project</label>
                  </div>

                  <div>
                    <input id="project" style="width:50px;" #projectInput onload="autocomplete('#project' 'http://localhost:8080/v1/features')" />
                  </div>

                </div>

                <div style="inline-block; float:right;">
                  <div>
                    <label for="estimate">Estimate</label>
                  </div>

                  <div>
                    <input id="estimate" style="width:50px;"/>
                  </div>
                </div>

              </div>
            </td>

            <td (dragover)="dragOver($event)" (drop)="dragDrop($event)">
              <h1>To do</h1>

              <div style="margin-bottom: 100px; width:100%;">
                <div style="float:left;">
                  <button class="addBtn" (click)="addTask(feature)">+</button>
                </div>
                <div style="float:left; height:70px;">
                  <input style="width:60px; min-height:34px;" placeholder="Task" [(ngModel)]="taskTitle"/>
                </div>
              </div>

              <div *ngFor="let task of feature.tasks; let i = index" [attr.data-index]="i" id="{{f}}{{i}}" class="task" (dragstart)="dragStart($event)" draggable="true">
                <h3>{{task.title}}</h3>
              </div>

            <td (dragover)="dragOver($event)" (drop)="dragDrop($event)"><h1>Development</h1></td>
            <td (dragover)="dragOver($event)" (drop)="dragDrop($event)"><h1>Review</h1></td>
            <td (dragover)="dragOver($event)" (drop)="dragDrop($event)"><h1>Testing</h1></td>
            <td (dragover)="dragOver($event)" (drop)="dragDrop($event)"><h1>Closed</h1></td>
          </tr>
        </div>
        </tbody>
    </table>
</div>
