<div id="sideBarWrapper">
  <div class="addFeature">

    <button class="addBtn" style="height:40px;" (click)="addFeature()">+</button>

    <div style="float:right; height:40px;">
      <input style="width: 100px; min-height:34px;" placeholder="Feature" [(ngModel)]="featureTitle"/>
    </div>
  </div>

  <div class="addFeature">
    <div style="float:left;" >
      <button class="addBtn" style="height:40px;" (click)="addFeature()">+</button>
    </div>
    <div style="float:left; height:40px;">
      <input style="width: 100px; min-height:34px;" placeholder="Sprint" [(ngModel)]="featureTitle"/>
    </div>
  </div>
</div>



<div class="sprintTableWrapper" #tableWrapper>
  <table class="sprintTable">
      <tbody>
        <div *ngFor="let feature of features; let f = index" [attr.data-index]="f">
          <tr>
            <td>
              <h1>Feature</h1>


              <div class="feature">
                <h3>{{feature.title}}</h3>

                <div style="inline-block; float:left;">
                  <div>
                    <label for="project{{f}}">Project</label>
                  </div>

                  <div>
                    <input #projectInput id="project{{f}}" class="project" style="width:50px;"  />
                  </div>
                </div>

                <div style="inline-block; float:right;">
                  <div>
                    <label for="estimate{{f}}">Estimate</label>
                  </div>

                  <div>
                    <input id="estimate{{f}}" style="width:50px;"/>
                  </div>
                </div>

              </div>
            </td>

            <td #toDo class="ToDo" (dragover)="dragOver($event)" (drop)="dragDrop($event, feature)">
              <h1>To do</h1>

              <div style="margin-bottom: 100px; width:100%;">
                <div style="float:left;">
                  <button class="addBtn" (click)="addTask(feature)">+</button>
                </div>
                <div style="float:left; height:70px;">
                  <input style="width:60px; min-height:34px;" placeholder="Task" [(ngModel)]="taskTitle"/>
                </div>
              </div>

              <div #tasks *ngFor="let task of feature.tasks; let t = index" [attr.data-index]="t" id="{{task.id}}" class="task" (dragstart)="dragStart($event)" draggable="true">
                <h4>{{task.title}}</h4>
                <div style="height:50px">
                  <input id="timerInput{{f}}{{t}}" class="timerInput"/>
                  <img src="assets/images/run.png" class="timerBtn" (click)="trackTask($event)"/>
                </div>
              </div>
            </td>
            <td #development class="Development" (dragover)="dragOver($event)" (drop)="dragDrop($event, feature)"><h1>Development</h1></td>
            <td #review class="Review" (dragover)="dragOver($event)" (drop)="dragDrop($event, feature)"><h1>Review</h1></td>
            <td #testing class="Testing" (dragover)="dragOver($event)" (drop)="dragDrop($event, feature)"><h1>Testing</h1></td>
            <td #closed class="Closed" (dragover)="dragOver($event)" (drop)="dragDrop($event, feature)"><h1>Closed</h1></td>
          </tr>
        </div>
        </tbody>
    </table>
</div>
